:root {
    --bg-gradient: linear-gradient(to bottom, #3889d4 0%, #fCA321 100%);
}

body {
    background: var(--bg-gradient);
    background-repeat: no-repeat;
}

.weather-header {
    background-color: #3889d4 !important;
}

#search-aside {
    background: var(--bg-gradient)
}

#forecast-display {
    background: var(--bg-gradient);

}

#todayHeader {
    font-weight: 700;
}

.today-text {
    font-size: 1.5rem;
}

/* forecast cards */
.card-title {
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;
}

/*   search bar */
#form-heading {
    text-align: center;
    font-weight: 600;
}

#search-input {
    border: 5px solid white;
    min-width: 220px;
}

#search-button {
    border: 2px solid rgb(255, 255, 255);
    background-color: steelblue;
    min-width: 220px;
    margin-left: 50px;
}

#search-button:hover {
    background-color: rgb(35, 64, 87);
    color: #fCA321;
}

.input-group {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

/*  recent searches  */
#recent-header {
    font-weight: 600;
    text-align: center;
}

.location-button:hover {
    background-color: rgb(35, 64, 87);
    color: #fCA321;
    border: none;
}

#clear-button {
    min-width: 220px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    align-self: center;
    justify-self: center;
}

#clear-button:hover {
    background-color: rgb(35, 64, 87);
    color: #fCA321;
}